body {
  text-align: center;
  background-size: cover;
  color: #ffffff;
  background: linear-gradient(270deg, #9f1ed0, #ff9800);
  background-size: 400% 400%;

  -webkit-animation: AnimationName 10s ease infinite;
  -moz-animation: AnimationName 10s ease infinite;
  animation: AnimationName 10s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

h1 {
  font-family: Monoton;
  font-size: 50px;
  margin: 0.2em;
  margin-top: 0;
}

table, tr, td {
  border: 1px solid black;
}

table {
  border-collapse: collapse;
  margin: 0 auto;
}

tr {
  height: 20px;
}

td {
  width: 20px;
}

.container {
  padding: 0.01em 16px;
  margin: 16px;
}

.teal {
  color: #fff;
  background-color: #009688;
}

.input {
  color: #000;
  background-color: #fdf5e6;
  border: 1px solid #009688;
  padding: 8px;
  display: block;
  width: 9em;
  text-align: center;
  margin: 0 auto;
}

#toast {
  display: none;
  min-width: 200px;
  font-size: 25px;
  margin-left: -100px;
  z-index: 1;
  bottom: 5px;
  position: fixed;
  left: 50%;
}

.need-margine {
  margin-top: 22px;
}

.display-container {
  position: relative;
}

.bottomrightB {
  position: absolute;
  right: 0;
  bottom: 0;
  border-radius: 50%;
  border: none;
  display: inline-block;
  padding: 8px 16px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  color: teal;
  background-color: white;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
}

#instruct {
  text-align: left;
  margin-left: 20px;
  border-bottom: 5px solid teal;
}

#colorPicker {
  border-radius: 100%;
  height: 40px;
  width: 40px;
  border: none;
  outline: none;
  -webkit-appearance: none;
}

#colorPicker::-webkit-color-swatch-wrapper {
  padding: 0;
}

#colorPicker::-webkit-color-swatch {
  border: none;
  border-radius: 100%;
}
